doctype html
html(lang='en')
  head
    include _includes/meta.jade
    title UA Bootstrap - Javascript
    include _includes/scripts-and-styles.jade
  body.css-page(data-spy='scroll', data-target='#catstrap-sidebar')
    include _includes/navbar-nav.jade
    mixin mainnav(4)
    // Docs page layout
    #content.page-title(tabindex='-1')
      .container
        .row
          .col-xs-12.col-md-8
            h1 Javascript
            p Bring Bootstrap's javascript to life with over a dozen custom jQuery plugins. Easily include them all, or one by one.
    .container.bs-docs-container
      .row

        .col-md-9
          //-.bs-docs-section
            //-include:marked _includes/javascript/overview.md

          //-.bs-docs-section
            //-include:marked _includes/javascript/transitions.md

          .bs-docs-section
            include:marked _includes/javascript/modal.md

          .bs-docs-section
            include:marked _includes/javascript/dropdowns.md

          //-.bs-docs-section
            //-include:marked _includes/javascript/scrollspy.md

          .bs-docs-section
            include:marked _includes/javascript/tabs.md

          //-.bs-docs-section
            //-include:marked _includes/javascript/tooltips.md

          //-.bs-docs-section
            //-include:marked _includes/javascript/popovers.md

          .bs-docs-section
            include:marked _includes/javascript/alerts.md

          .bs-docs-section
            include:marked _includes/javascript/buttons.md

          .bs-docs-section
            include:marked _includes/javascript/collapse.md

          //-.bs-docs-section
            //-include:marked _includes/javascript/carousel.md

          //-.bs-docs-section
            //-include:marked _includes/javascript/affix.md
        .col-md-3
          #catstrap-sidebar.hidden-print.hidden-xs.hidden-sm(data-spy='affix', data-offset-top='310')
            ul.nav.bs-docs-sidenav
               //-li
                 //-a(href='#js-overview') Overview
                 //-ul.nav
                   //-li.active
                     //-a(href='#js-individual-compiled') Individual or compiled
                   //-li
                     //-a(href='#js-data-attrs') Data attributes
                   //-li
                     //-a(href='#js-programmatic-api') Programmatic API
                   //-li
                     //-a(href='#js-noconflict') No conflict
                   //-li
                     //-a(href='#js-events') Events
                   //-li
                     //-a(href='#js-version-nums') Version numbers
                   //-li
                     //-a(href='#js-disabled') When JavaScript is disabled
                   //-li
                     //-a(href='#callout-third-party-libs') Third-party libraries
               //-li
                 //-a(href='#transitions') Transitions
               li
                 a(href='#modals') Modal
                 ul.nav
                   li
                     a(href='#modals-examples') Examples
                   li
                     a(href='#modals-sizes') Sizes
                   li
                     a(href='#modals-remove-animation') Remove animation
                   li
                     a(href='#modals-related-target') Varying content based on trigger button
                   li
                     a(href='#modals-usage') Usage
                   li
                     a(href='#modals-options') Options
                   li
                     a(href='#modals-methods') Methods
                   li
                     a(href='#modals-events') Events
               li
                 a(href='#dropdowns') Dropdown
                 ul.nav
                   li
                     a(href='#dropdowns-examples') Examples
                   li
                     a(href='#dropdowns-usage') Usage
                   li
                     a(href='#dropdowns-methods') Methods
                   li
                     a(href='#dropdowns-events') Events
               //-li
                 //-a(href='#scrollspy') Scrollspy
                 //-ul.nav
                   //-li
                     //-a(href='#scrollspy-examples') Examples
                   //-li
                     //-a(href='#scrollspy-usage') Usage
                   //-li
                     //-a(href='#scrollspy-methods') Methods
                   //-li
                     //-a(href='#scrollspy-options') Options
                   //-li
                     //-a(href='#scrollspy-events') Events
               li
                 a(href='#tabs') Tab
                 ul.nav
                   //-li
                     //-a(href='#tabs-examples') Examples
                   li
                     a(href='#tabs-usage') Usage
                   li
                     a(href='#tabs-methods') Methods
                   li
                     a(href='#tabs-events') Events
               //-li
                 //-a(href='#tooltips') Tooltip
                 //-ul.nav
                   //-li
                     //-a(href='#tooltips-examples') Examples
                   //-li
                     //-a(href='#tooltips-usage') Usage
                   //-li
                     //-a(href='#tooltips-options') Options
                   //-li
                     //-a(href='#tooltips-methods') Methods
                   //-li
                     //-a(href='#tooltips-events') Events
               //-li
                 //-a(href='#popovers') Popover
                 //-ul.nav
                   //-li
                     //-a(href='#popovers-examples') Examples
                   //-li
                     //-a(href='#popovers-usage') Usage
                   //-li
                     //-a(href='#popovers-options') Options
                   //-li
                     //-a(href='#popovers-methods') Methods
                   //-li
                     //-a(href='#popovers-events') Events
               li
                 a(href='#alerts') Alert
                 ul.nav
                   li
                     a(href='#alerts-examples') Examples
                   li
                     a(href='#alerts-usage') Usage
                   li
                     a(href='#alerts-methods') Methods
                   li
                     a(href='#alerts-events') Events
               li
                 a(href='#buttons') Button
                 ul.nav
                   //-li
                     //-a(href='#buttons-stateful') Stateful
                   li
                     a(href='#buttons-single-toggle') Single toggle
                   li
                     a(href='#buttons-checkbox-radio') Checkbox / Radio
                   li
                     a(href='#buttons-methods') Methods
               li
                 a(href='#collapse') Collapse
                 ul.nav
                   li
                     a(href='#collapse-example') Example
                   li
                     a(href='#collapse-example-accordion') Accordion example
                   li
                     a(href='#collapse-usage') Usage
                   li
                     a(href='#collapse-options') Options
                   li
                     a(href='#collapse-methods') Methods
                   li
                     a(href='#collapse-events') Events
               //-li
                 //-a(href='#carousel') Carousel
                 //-ul.nav
                   //-li
                     //-a(href='#carousel-examples') Examples
                   //-li
                     //-a(href='#carousel-usage') Usage
                   //-li
                     //-a(href='#carousel-options') Options
                   //-li
                     //-a(href='#carousel-methods') Methods
                   //-li
                     //-a(href='#carousel-events') Events
               //-li
                 //-a(href='#affix') Affix
                 //-ul.nav
                   //-li
                     //-a(href='#affix-examples') Examples
                   //-li
                     //-a(href='#affix-usage') Usage
                   //-li
                     //-a(href='#affix-options') Options
                   //-li
                     //-a(href='#affix-methods') Methods
                   //-li
                     //-a(href='#affix-events') Events


    // Footer ==================================================
    footer.bs-docs-footer
    include:marked _includes/footer.md
    include _includes/footer-scripts.jade
